/* MAIN STYLES */
body {
    background-color: #576366;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px; 
}
h1 {
    color: #5fcf80;
    text-align: center;
    font-size: 50px;
}
h3 {
    font-size: 24px;
    color: white;
}

/* INPUT BOXES & GO BUTTON */
.input-group {
    margin: 0 auto;
}
.input-group-btn {
    padding: 20px;
    text-align: center;
}

/* COMPETITOR DISPLAY PANELS */
.panel {
    background-color: #5fcf80;
    width: 350px;
    height: 400px;
    margin: 0 auto;
}
.avatar {
    width: 90%;
    border-radius: 10%;
}
.panel-title {
    margin-top: 1px;        
    margin-bottom: 0;
    font-size: 24px;
    color: white;
}

/* RUMBLE BUTTON */
.rumble-btn {
    padding: 25px;
    text-align: center;
}

/* WINNER DIV STYLES */
#winner {
    padding: 25px;
    margin: 5px;
}
h2 {
    font-size: 45px;
    text-align: center;
    color: white;
    width: 50%;
    margin: auto;
    background-color: #5fcf80;
    padding: 5px;
}

/* BADGE PANEL STYLES */
.badge-panel {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
.awards-section {
    padding: 3px;
}
.award-name {
    color: white;
}
.award-icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
