body {
    background-color: #576366;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px; 
}
h1 {
    color: #5fcf80;
    text-align: center;
    font-size: 30px;
}

.input-group {
    margin: 0 auto;
}

.btn {
    margin: 0 auto;
}
#display-one #display-two {
    display: inline;
}
.userOne {
 border:  #c25975 5px solid;
 border-radius: 100%;
}

.userTwo {
    border: #c25975 5px solid;
    border-radius: 100%;
}

.avatar {
    width: 90%;
    height: 90%;
}
.panel {
    background-color: #5fcf80;
}